<!DOCTYPE html>
<html>
<header th:insert="fragments/parts::menu"></header>
<head th:replace="fragments/bootstrap::head(title='list.asignatura',extra='')"></head>
<body style="background-color: #426cb4">
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button type="button" class="btn btn-default" onclick="history.back()" style="background-color: #ed8074; border: 3px black">
							<span class="bi bi-arrow-left-circle-fill"></span>
						</button>
					</div>
				</div>
			<div th:if="${exito} != null" class="alert alert-success alert-dismissible fade show mt-5 d-flex" role="alert">
  				<span th:text="#{${exito}}"></span>
  				<button type="button" class="close justify-content-end" data-dismiss="alert" aria-label="Close" onClick="$('.alert').alert('close')">
  					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="col-8">
				<table class="table table-stripped table-hover" th:if="${error==null}">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th th:text="#{name}"></th >
						<th th:text="#{course}"></th>
						<th></th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a : ${asignaturas}">
					 	<td th:text="${a.getId()}"></td>
					 	<td th:text="${a.getNombre()}"></td>
					 	<td th:text="${a.getCurso()}"></td>
					 	<td><a th:href="@{|/grados/asignaturas/delete?asig=${a.getId()}}|"><i class="bi bi-x-square"></i></a></td>
					 </tr>					
					</tbody>
				</table>
				<h6 class="text-danger" th:if="${error!=null}">Este Grado no tiene ninguna Asignatura</h6>
			</div>

			
		</div>
	</div>
</body>
<footer th:replace="fragments/parts::footer(info='list.asignatura',extra='')"></footer>
</html>