<!DOCTYPE html>
<html>
<header th:insert="fragments/parts::menu"></header>
<head th:replace="fragments/bootstrap::head(title='menu.updateExam',extra='')"></head>
<body style="background-color: #426cb4">
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button type="button" class="btn btn-default" onclick="history.back()" style="background-color: #ed8074; border: 3px black">
							<span class="bi bi-arrow-left-circle-fill"></span>
						</button>
					</div>
				</div>
			<div class="col-6">
				<form th:action="@{/examenes/edit}" method="post" th:object="${exam}">
					<label for="id" class="form-label mt-3" th:text="#{id}"></label>
					<input type="text" class="form-control" id="id" name="id"
						th:field="*{id}" readonly>
					<label for="num_preguntas" class="form-label mt-3" th:text="#{num_preg}"></label>
					<input type="text" class="form-control" id="num_preguntas" name="num_preguntas"
						th:field="*{num_preguntas}" readonly>
					<label for="fecha_creacion" class="form-label mt-3" th:text="#{date}"></label>
					<input type="date" class="form-control" id="fecha_creacion" name="fecha_creacion"
						th:field="*{fecha_creacion}" required>		
                    <label for="asignatura" class="form-label mt-3" th:text="#{menu.subject}"></label>
                    <select name="asignatura" class="form-select mt-3"  th:field="*{asignatura}">
                                <option th:each="a : ${asignaturas}" 
                                th:value="${a.id}" 
                                th:text="${a.nombre}" 
                               ></option>
                    </select>
                    <label for="usuario" class="form-label mt-3" th:text="#{menu.user}"></label>
                    <select name="usuario" class="form-select mt-3"  th:field="*{usuario}">
                                <option th:each="g : ${usuarios}" 
                                th:value="${g.id}" 
                                th:text="${g.nombre}" 
                               ></option>
                    </select>				
					<h6 class="text-danger" th:if="${error!=null}" th:text="#{'errorSubject'}"></h6>	
					<button type="submit" class="btn btn-primary w-100 mt-3" th:text="#{update}"> </button>	
				</form>
			</div>
			
		</div>
	</div>
</body>
<footer th:replace="fragments/parts::footer(info='menu.updateExam',extra='${examen.id}')"></footer>
</html>