<!DOCTYPE html>
<html>
<header th:insert="fragments/parts::menu"></header>	

<head th:replace="fragments/bootstrap::head(title='menu.tests',extra='')"></head>
<body style="background-color: #426cb4">
	<div class="container ">
		<div class="row  justify-content-center">
			<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button type="button" class="btn btn-default" onclick="history.back()" style="background-color: #ed8074; border: 3px black">
							<span class="bi bi-arrow-left-circle-fill"></span>
						</button>
					</div>
				</div>
			<div th:if="${exito} != null" class="alert alert-success alert-dismissible fade show mt-5 d-flex" role="alert">
  				<span th:text="#{${exito}}"></span>
  				<button type="button" class="close justify-content-end" data-dismiss="alert" aria-label="Close" onClick="$('.alert').alert('close')">
  					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<h1 class="text-center mt-3" th:text="#{miExam}" style="color:white"></h1>
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th th:text="#{num_preg}"></th>
						<th th:text="#{date}"></th>
						<th th:text="#{menu.subject}"></th>
						<th th:text="#{menu.user}"></th>
						<th th:text="#{num_ref}"></th>
						<th th:text="#{edit}"></th>
						<th th:text="#{add}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="PDFImport"></th>
					</tr>
					</thead>					
					<tbody sec:authorize="hasRole('ROLE_USER')" style="background-color: #FFFFFF">
					 <tr th:each="e : ${usuario.examenes}">
					 	<td th:text="${e.getNum_preguntas()}"></td>
					 	<td th:text="${e.getFecha_creacion()}"></td>
					 	<td th:if="${e.getAsignatura()!=null}" th:text="${e.getAsignatura().getNombre()}"></td>
					 	<td th:if="${e.getAsignatura()==null}" th:text="#{noAsig}"></td>
					 	<td th:if="${e.getUsuario()!=null}" th:text="${e.getUsuario().getNombre()}"></td>
					 	<td th:if="${e.getUsuario()==null}" th:text="#{noUsu}"></td>
					 	<td th:text="${e.getId()}"></td>
					 	
					 	
					 	<td><a th:href="@{'/examenes/edit?exam='+${e.getId()}}"><i class="bi bi-pen-fill" style="color: black" ></i></a></td>
					 	<td><a th:href="@{'/examenes/add?codigo='+${e.getId()}}"><i class="bi bi-clipboard2-plus" style="color: black"></i></a></td>
					 </tr>					
					</tbody>
					
					<tbody sec:authorize="hasRole('ROLE_ADMIN')" style="background-color: #FFFFFF">
					 <tr th:each="e : ${examenes}">
					 	<td th:text="${e.getNum_preguntas()}"></td>
					 	<td th:text="${e.getFecha_creacion()}"></td>
					 	<td th:if="${e.getAsignatura()!=null}" th:text="${e.getAsignatura().getNombre()}"></td>
					 	<td th:if="${e.getAsignatura()==null}" th:text="#{noAsig}"></td>
					 	<td th:if="${e.getUsuario()!=null}" th:text="${e.getUsuario().getNombre()}"></td>
					 	<td th:if="${e.getUsuario()==null}" th:text="#{noUsu}"></td>
					 	<td th:text="${e.getId()}"></td>
					 	
					 	
					 	<td><a th:href="@{'/examenes/edit?exam='+${e.getId()}}"><i class="bi bi-pen-fill" style="color: black" ></i></a></td>
					 	<td><a th:href="@{'/examenes/add?codigo='+${e.getId()}}"><i class="bi bi-clipboard2-plus" style="color: black"></i></a></td>
					 	<td><a th:href="@{'/examenes/?format=pdf'}"><i class=" nav-link bi bi-cloud-upload" style="color: black"></i></a></td>
					 </tr>					
					</tbody>
				</table>
			</div>

			
		</div>
	</div>
</body>
<footer th:replace="fragments/parts::footer(info='menu.tests',extra='')"></footer>
</html>