<!DOCTYPE html>
<html>
<header th:insert="fragments/parts::menu"></header>
  
<head th:replace="fragments/bootstrap::head(title='menu.grados',extra='')"></head>
<body style="background-color: #426cb4">
	<div class="container ">
		<div class="row  justify-content-center">
		<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button type="button" class="btn btn-default" onclick="history.back()" style="background-color: #ed8074; border: 3px black">
							<span class="bi bi-arrow-left-circle-fill"></span>
						</button>
					</div>
				</div>
			
			<!--  <div class="row mt-3 justify-content-start">
				<a class="text-center col-2 btn btn-primary" th:href="@{'/grados/asignaturas?codigo='+${g.getId()}}" th:text="#{menu.addgrados}">Ver Grado Asign</a>
			</div> -->
			<div th:if="${exito} != null" class="alert alert-success alert-dismissible fade show mt-5 d-flex" role="alert">
  				<span th:text="#{${exito}}"></span>
  				<button type="button" class="close justify-content-end" data-dismiss="alert" aria-label="Close" onClick="$('.alert').alert('close')">
  					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<h1 class="text-center mt-3" th:text="#{miGrad}" style="color:white"></h1>
			<div class="col-8">
				<table class="table table-stripped table-hover" th:if="${grados.size()>0}">
					<thead class="table-light">
					<tr>
						<th class="sortable bi bi-arrow-down-up" th:text="' '+#{name}"></th>
						<th class="sortable bi bi-arrow-down-up" th:text="' '+#{department}"></th>
						<th class="sortable bi bi-arrow-down-up" th:text="' '+#{num_ref}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{edit}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{add}"></th>
					</tr>
					</thead>					
					<tbody style="background-color: #FFFFFF">
					 <tr th:each="g : ${grados}">
					 	<td th:text="${g.getNombre()}"></td>
					 	<td th:text="${g.getDepartamento()}"></td>
					 	<td th:text="${g.getId()}"></td>
					    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/grados/edit?grado='+${g.getId()}}"><i class="bi bi-pen-fill" style="color: black"></i></a></td>
					 	<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/grados/addGrado/}"><i class="bi bi-clipboard2-plus" style="color: black"></i></a></td>
					 </tr>					
					</tbody>
				</table>
				<div th:if="${grados.size()==0}" class="alert alert-warning mt-5" role="alert">
  					<h6 class="text-danger text-center" >No hay ningun Grado</h6>
				</div>
				
			</div>
			<!--<div class="row mt-3 justify-content-start">
				<a sec:authorize="!isAuthenticated()" class="text-center col-2 btn btn-primary" th:href="@{'/grados/asignaturas?codigo='+${g.getId()}}" th:text="#{menu.addgrados}">Ver Grados</a>
			  sec:authorize="hasRole('ROLE_ADMIN')" 
			</div>-->
			
		</div>
	</div>
</body>
<footer th:replace="fragments/parts::footer(info='menu.grados',extra='')"></footer>
</html>