<meta charset="UTF-8">
<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light" >
	<div sec:authorize="!isAuthenticated()" class="container-fluid p-3" style="background-color: #426cb4">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse p-3" id="navbarNav" >
			<ul class="navbar-nav">
				<li sec:authorize="isAuthenticated()" class="nav-item "><a class="nav-link text-black" aria-current="page"
					href="/" th:text="#{menu.home}"></a></li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-white" th:href="@{/login}" th:text="#{menu.login}"></a>
				</li>	
				
				<!--<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/asignaturas/}" th:text="#{menu.subjects}"></a></li>		
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/grados/}" th:text="#{menu.grados}"></a></li>	
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/examenes/}" th:text="#{menu.tests}"></a></li> -->
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/preguntas/}" th:text="#{menu.preg}"></a></li>
				<li  sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link text-black" th:href="@{/matricularse/}" th:text="matricular"></a></li>	
				
				<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/logout}"><i class="bi bi-box-arrow-left"></i></a></li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-white" th:href="@{/register}" th:text="#{menu.register}"></a>
				</li>
			</ul>
		</div>
	</div>
	<div sec:authorize="isAuthenticated()" class="container-fluid p-3" style="background-color: #FFFFFF">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse p-3" id="navbarNav" >
			<ul class="navbar-nav">
				<li sec:authorize="isAuthenticated()" class="nav-item "><a class="nav-link text-black" aria-current="page"
					href="/" th:text="#{menu.home}"></a></li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-white" th:href="@{/login}" th:text="#{menu.login}"></a>
				</li>	
				
				<!--<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/asignaturas/}" th:text="#{menu.subjects}"></a></li>		
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/grados/}" th:text="#{menu.grados}"></a></li>	
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/examenes/}" th:text="#{menu.tests}"></a></li> -->
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/preguntas/}" th:text="#{menu.preg}"></a></li>
				<li  sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/matricularse/}" th:text="#{menu.matri}"></a></li>		
			
				<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-black" th:href="@{/logout}"><i class="bi bi-box-arrow-left"></i></a></li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-white" th:href="@{/register}" th:text="#{menu.register}"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<footer sec:authorize="!isAuthenticated()" th:fragment="footer(info, extra)" class="mt-5 t-2" style="background-color: #426cb4">
<div class="w-100 h-100">
	<img src="/img/logoSINFONDO.png" class="img-fluid w-15 h-10 pt-4 mt-2">
	<h1 class="text-center text-center mb-4 pb-4" th:text="#{where}" style="color: #FFFFFF"></h1>
</div>
 <h1 sec:authorize="!isAuthenticated()" class="text-center text-center p-3 text-white" th:text="|#{${info}} ${extra}|" ></h1>
</footer>

<footer sec:authorize="isAuthenticated()" th:fragment="footer(info, extra)" class="mt-5 t-2" style="background-color: #FFFFFF">
<div class="w-100 h-100">
	<img src="/img/logoSINFONDO.png" class="img-fluid w-15 h-10 pt-4 mt-2">
	<h1 class="text-center text-center mb-4 pb-4" th:text="#{where}" style="color: #FFFFFF"></h1>
</div>
 <h1 sec:authorize="isAuthenticated()" class="text-center text-center p-3 text-black" th:text="#{where}"></h1>
</footer>

